---
layout: default
---


<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2>Lokální kontakty pro média</h2>
                {% assign team = site.people | where_exp:"item","item.categories contains 'kontakt'"  | sort:"ordkontakty" %}
                {% include people/list-2col.html param=team %}
              <br>
              <h2>Kontakt pro dobrovolníky</h2>
                {% assign team = site.people | where_exp:"item","item.categories contains 'koks'" %}
                {% include people/list-2col.html param=team %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
