<div class="text-right show-for-medium-up">
      <a href="https://github.com/pirati-web/jihomoravsky.pirati.cz/edit/master/{{ page.path }}" class="label secondary" style="background-color:#bbb">
          <i class="fa fa-pencil"></i>
 Navrhni úpravu</a>
</div>

<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> Kontakt </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description"> Mikuláš Ferjenčík,
              <a href="mailto:mikulas.ferjencik@pirati.cz">mikulas.ferjencik@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Občané </div>
            <div class="c-contact-bar__description"> Ljuba Poláková,
              <a href="mailto:info@pirati.cz">info@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
