<div class="c-welcome-header">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-welcome-header-wrapper c-welcome-header-wrapper--wbg">
        {% comment %}<img src="{{'/assets/img/header/welcome-img.jpg' | prepend: site.baseurl }}" class="c-welcome-header__img" alt="Česká pirátská strana">{% endcomment %}
        <div class="c-welcome-header-content">
          <img src="{{'/assets/img/brand/logouh.svg' | prepend: site.baseurl }}" alt="Česká pirátská strana" class="c-welcome-header__brand">
        </div>
      </div>
    </div>
  </div>
</div>
