---
layout: page
title: Kandidáti Pirátů pro volby do zastupitelstva města Uherské Hradiště
rbar: ""
---
<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">
               <div class="row">
                  {% assign team = site.people | where_exp:"item","item.categories contains 'kandidat'" | sort:"ordkandidat"  %}
                  {% for item in team limit:21 %}
                    {% include people/kandidat.html param=item order='ordkandidat' %}
                  {% endfor %}

                  {% for item in team offset:21 limit:8 %}
                    {% include people/kandidat-small.html param=item order='ordkandidat' %}
                  {% endfor %}

                  <!--{% include people/kandidat-mini.html order='8' name='jmeno' job='zamestnani' %}
                  {% include people/kandidat-mini.html order='9' name='jmeno' job='zamestnani' %}-->






                </div>

              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
