.c-search {
  display: flex;
  align-items: center;
  border-bottom: 3px $primary-color solid;
}

  .c-search__input {
    border: 0;
    margin: 0;
    box-shadow: none;

    &:focus {
      border: 0;
      box-shadow: none;
    }
  }

  .c-search__confirm {
    padding: 0em 1em;
    font-size: 1.1rem;
  }

.c-responsive-menu-toggle {
  display: inline-block;
  font-size: 1.15rem;
  border: 1px solid $dark-gray;
  transition: border .2s;
}
  .c-responsive-menu-toogle__button {
    display: flex;
    align-items: center;
    padding: 0.7rem 1.25rem;
    color: $dark-gray;
  }

  .c-responsive-menu-toggle__caption {
    margin-right: .25rem;
    text-transform: uppercase;
  }

.c-responsive-menu {
  display: block;
  padding: .5rem 0;

  @include breakpoint(medium down) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: $light-gray;
    border-bottom: 3px $primary-color solid;
    width: 100%;
  }
}

  .c-responsive-menu__items {
    list-style-type: none;
    margin: 0;
  }

  .c-responsive-menu__item {
    display: inline-block;

    @include breakpoint(medium down) {
      display: block;
    }

    @include breakpoint(small down) {
      text-align: center;
    }
  }

  .c-responsive-menu__item a {
    @include headerStyle('h5', sub);

    display: block;
    position: relative;
    color: $dark-gray;
    margin: 0.7rem 1rem 0;
    padding: 4px .25em 0; // 4px to compensate for font
    transition: all .1s ease-in-out;
    text-transform: uppercase;
    letter-spacing: .01em;

    @include breakpoint(medium down) {
      padding: 1rem 1.8rem;
      color: $primary-color;
    }
  }

  // Highlight active item in the menu.
  .c-responsive-menu__item a:hover,
  .c-responsive-menu__item--active a {
    @include breakpoint(large) {
      color: $secondary-color;
    }
  }

.c-top-bar {
  background: $ternary-color;
  color: $secondary-color;
  padding-bottom: .25rem;
  padding-top: .25rem;
  position: relative;
}

.c-top-bar__body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(medium down) {
    padding: 0 0 .5rem;
  }
}

  // Brand goes first.
  .c-top-bar__brand {
    order: 1;
    width: 130px; // a little bit bigger on large screens
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;

    @include breakpoint(medium down) {
      width: 115px;
    }
  }

  .c-top-bar__brand-link {
    width: 100%;
  }

  .c-top-bar__brand-image {
    width: 100%;
  }

  // Responsive menu is second.
  .c-top-bar .c-responsive-menu {
    order: 2;
  }

  // Search is last.
  .c-top-bar__search {
    order: 3;

    @include breakpoint(large) {
      flex: 1; // search spreads to available space
      max-width: 200px; // ... but max 200px
      margin-left: auto;
    }

    @include breakpoint(medium down) {
      flex: 1;
      margin-right: 1.5rem;
    }

    @include breakpoint(small down) {
      display: none;
    }

    .c-top-bar__search-container {
      border-color: $dark-gray;
      border-width: 1px;

      @include breakpoint(large) {
        margin: 1rem 0;
      }

      // On large screen, search confirm is at the very right of the container.
      // @see: order: 3.
      .c-top-bar__search-confirm {
        cursor: default;
        color: $dark-gray;

        @include breakpoint(large) {
          padding-right: 0;
        }
      }

      .c-top-bar__search-input {
        background: $ternary-color;
        appearance: textfield;
        color: $white;

        &::placeholder {
          color: $dark-gray;
          opacity: 1;
        }

        &:focus {
          background: $ternary-color;
        }
      }
    }
  }


  .c-top-bar .c-responsive-menu-toggle {
    order: 4;
  }
