.c-welcome-header {
  height: 350px;
  position: relative;
  background: url('../img/header/nejmenovany_kopec.jpg') no-repeat;
  background-size: cover;
  background-position: center 70%;
  overflow: hidden;

  div {
    height: 100%;
  }

  @include breakpoint(medium down) {
    height: 390px;
    background-position: 20% 70%;
  }

  @include breakpoint(640px down) {
    background-position: 27% 85%;
  }

}

.c-welcome-header-wrapper--wbg {

      content: '';
      position: absolute;
      bottom: 10px;
      top: 10px;
      max-height: 100%;
      background: url('../img/brand/logouh.svg') no-repeat;
      background-size: 100%;
      transform-origin: middle middle;
    }
